Dear ${name},

Login with the below new password and update your password after you logged in.
If you did not request to reset your password, discard this email and contact your Support.

Your new password is: ${newPassword}

Once your password is reset, you will be able to login.

Thank you!

SidraBook Support team

