<HTML>
    <HEAD>
      <TITLE>Password Reset Instructions</TITLE>
    </HEAD>
    <BODY>

<h4>Dear ${name},</h4>
<p>
Click the link below to reset your password. This link will expire in 24 hours.
If you did not request to reset your password, discard this email and contact your Support.
</p>
<a href ='${url}'>Click link </a>
<p>
Once your password is reset, you will be able to login.

Thank you!

Ethio-News Support team
</p>
</BODY>
  </HTML>
