<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- <bean id="loginDelegate" class="com.agilebus.delegate.LoginDelegate"> 
		<property name="loginService" ref="loginService"></property> </bean> -->

	<!-- <bean id="loginService" class="com.agilebus.service.impl.LoginServiceImpl">
		<property name="loginDao" ref="loginDao"></property>
	</bean> -->
	<!-- <bean name="loginDao" class="com.agilebus.dao.impl.LoginDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean> -->

	<!-- <bean id="busDelegate" class="com.agilebus.delegate.BusDelegate"> <property 
		name="busService" ref="busService"></property> </bean> -->

	<!-- <bean id="busService" class="com.agilebus.service.impl.BusServiceImpl">
		<property name="busDao" ref="busDao"></property>
	</bean> -->
	<!-- <bean name="busDao" class="com.agilebus.dao.impl.BusDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean> -->
	<!-- Mysql database configuration -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/agilebus" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean>

	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.agilebus.model.UserRole</value>
				<value>com.agilebus.model.User</value>
				<value>com.agilebus.model.Trip</value>
				<value>com.agilebus.model.Location</value>
				<value>com.agilebus.model.Company</value>
				<value>com.agilebus.model.Bus</value>
				<value>com.agilebus.model.BusLevel</value>
				<value>com.agilebus.model.Amenity</value>
				<value>com.agilebus.model.TicketAgent</value>
				<value>com.agilebus.model.Passenger</value>
				<value>com.agilebus.model.Ticket</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->


</beans>